#navbarSupportedContent .navbar-nav {
  margin: 0 100px 0;
}

#navbarSupportedContent .nav-item {
  margin-right: 50px;
}

.container-fluid .d-flex {
  margin: 0px 100px 0px;
}

.container-fluid .form-control {
  background-color: #f6ffa6;
  border-color: red;
}

.container-fluid .btn-outline-success {
  border-color: red;
  color: white;
  background-color: red;
}

.container-fluid .btn-outline-success:hover {
  background-color: #007bff;
}

.container-fluid .btn-primary {
  background-color: red;
  border-color: red;
}

#header .navbar {
  background-color: #f8e8ee;
}

.container-fluid .nav-item .nav-link {
  color: black;
}

.container-fluid .nav-item .nav-link:hover {
  color: red;
}

#footer .navbar {
  background-color: #7e1717;
  color: #f2bed1;
  font-weight: 600;
}

#footer .nav {
  margin: 0 15px;
}
#footer .col-md-6 {
  padding: 20px 20px 20px 20px;
}

#footer .fa-brands,
#footer .fa-solid {
  font-size: 40px;
  color: #f2bed1;
}

#footer .fa-brands:hover,
#footer .fa-solid:hover {
  text-decoration: none;
}

#header .avt {
  margin-right: 10px;
}

#header .avt .fa-solid {
  font-size: 20px;
}

#header .advise {
  text-align: center;
  background-color: red;
  font-weight: 500;
  color: white;
}