#dishes-details .container-fluid .dishes-img {
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 300px;
    float: right;
    margin-top: 40px;
}

#dishes-details .container-fluid h2 {
    margin-top: 40px;
    color: red;
    font-weight: 600;
}

#dishes-details hr {
    border: none;
    border-top: 3px solid #333;
    color: #333;
    text-align: center;
    height: 10px;
    width: 70%;
    float: left;
}

#dishes-details .container-fluid .col-md-6 {
    height: 50vh;
    padding-right: 35px;
    padding-left: 35px;
}

#dishes-details .container-fluid .form-control {
    width: 70%;
    height: 200px;
    background-color: #f2bed1;
    border: 2px solid black;
}

/*#dishes-details .container-fluid .form-control::placeholder {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    font-size: 25px;*/
/*}*/
